@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: inherit;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: KakaoBig, "Noto Sans KR", -apple-system, BlinkMacSystemFont, nanumbarungothic, nanumgothic, "malgun gothic", dotum, sans-serif;
  line-height: 1;
  font-size: 16px;
  color: inherit;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.common-inner {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 1200px;
  padding: 0px 5%;
  margin: 0px auto;
}

.loading-sub {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 34, 55);
  opacity: 1;
  z-index: 100;
  pointer-events: none;
}

.reverse {
  flex-direction: row-reverse;
}

.cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.sc-informain {
  overflow: hidden;
}
.sc-informain .visual-box {
  position: relative;
  margin-top: 100px;
}
.sc-informain .left-blind {
  position: absolute;
  background: rgb(255, 255, 255);
  top: -100px;
  left: -282px;
  width: 50%;
  bottom: 0;
}
.sc-informain .right-blind {
  position: absolute;
  background: rgb(255, 255, 255);
  top: -100px;
  right: -282px;
  width: 50%;
  bottom: 0;
}
.sc-informain .video-box {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  margin-top: -100px;
}
.sc-informain .video-box video {
  height: 100%;
}
.sc-informain .title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -51px;
}
.sc-informain .title-wrap .img-box img {
  width: 129px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-informain .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 60px;
}
.sc-informain .cata {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(255, 255, 255);
  display: block;
}
.sc-informain .m-title {
  padding-top: 12px;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
  color: rgb(255, 205, 0);
  white-space: pre-wrap;
}

.btn-more {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 0px 0px;
  border: 0px none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.btn-more::after {
  content: "";
  display: inline-block;
  margin-top: -0.1em;
  margin-left: 14px;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/ic_more_white.svg), none;
  vertical-align: middle;
  transition: margin-left 0.2s ease-out 0s;
}
.btn-more:hover {
  color: rgb(255, 205, 0);
}
.btn-more:hover::after {
  margin-left: 24px;
  background-image: url(../images/ic_more_active.svg), none;
}

@font-face {
  font-family: "KakaoBig";
  font-style: normal;
  font-weight: 800;
  src: url("../font/KakaoBigExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "KakaoBig";
  font-style: normal;
  font-weight: 700;
  src: url("../font/KakaoBigBold.woff2") format("woff2");
}
@font-face {
  font-family: "KakaoBig";
  font-style: normal;
  font-weight: 400;
  src: url("../font/KakaoBigRegular.woff2") format("woff2");
}
header {
  width: 100%;
  height: 101px;
  background-color: #fff;
  z-index: 11;
}
header.header-main {
  position: fixed;
  overflow: hidden;
  transition: height 0.4s, background-color 0.4s;
}
header.header-main .covid {
  margin-top: 16px;
}
header.header-main .gnb-menu .subMenu-list {
  transition: 0.4s;
}
header.header-main.over {
  height: 394px;
  z-index: 1001;
}
header.header-area {
  position: absolute;
}
header.header-area .header-bg {
  transition: height 0.5s;
  height: 0;
  width: 100%;
  background-color: #fff;
}
header.header-area .gnb-menu .subMenu-list {
  transition: 0.1s;
  transition-delay: 0.1s;
  pointer-events: none;
}
header.header-area:hover .gnb-menu {
  color: #000;
}
header.header-area.over .header-bg {
  height: 294px;
}
header.header-area.over .gnb-menu .subMenu-list {
  pointer-events: all;
}
header .common-inner {
  display: flex;
  position: relative;
  z-index: 1;
}
header .logo {
  width: 163px;
  height: 27px;
  margin-right: 4vw;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s ease;
  margin-top: 33px;
}
header .logo a {
  display: block;
  height: 100%;
  width: 100%;
}
header .gnb-menu {
  flex: 1;
  font-size: 0;
  color: #666;
  text-align: center;
  transition: color 0.2s;
}
header .gnb-menu .gnb-item {
  display: inline-block;
  position: relative;
  width: 180px;
  font-size: 16px;
  line-height: 96px;
  text-align: left;
  vertical-align: top;
  height: 100%;
}
header .gnb-menu .covid {
  float: right;
  width: auto;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  margin-top: 33px;
}
header .gnb-menu .subMenu-list {
  position: absolute;
  left: 0;
  padding-top: 35px;
  width: 100%;
  height: 215px;
  opacity: 0;
}
header .gnb-menu .subMenu-list .subMenu-item {
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
  transition: color 0.1s ease;
}
header .gnb-menu .subMenu-list .subMenu-item + .subMenu-item {
  margin-top: 16px;
}
header .gnb-menu a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
header::after {
  content: "";
  display: block;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  border-color: rgb(229, 229, 229);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition: border-color 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}
header.header-main:hover {
  background-color: #fff;
}
header.header-main:hover .logo {
  filter: none;
}
header.header-main:hover .gnb-menu {
  color: #000;
}
header.over .gnb-menu .subMenu-list {
  opacity: 1;
}
header.transform {
  background-color: transparent;
}
header.transform .logo {
  filter: invert(100%);
}
header.transform .gnb-menu {
  color: #fff;
}
header.transform::after {
  opacity: 0;
}

.header-area.fixed {
  position: fixed;
  height: 55px;
}
.header-area.fixed .logo {
  transform: scale(0.64);
  margin-top: 12px;
  margin-right: 6vw;
  margin-left: -2vw;
}
.header-area.fixed .covid {
  margin-top: 12px;
}
.header-area.fixed::after {
  top: 54px;
}
.header-area.fixed .gnb-menu .gnb-item {
  line-height: 54px;
  font-size: 14px;
}
.header-area.fixed .gnb-menu .covid {
  margin-top: 0;
  font-size: 14px;
  line-height: 54px;
}
.header-area.fixed .gnb-menu .subMenu-list {
  height: 196px;
  transition: 0.3s;
}
.header-area.fixed .gnb-menu .subMenu-list .subMenu-item {
  font-size: 14px;
  line-height: 20px;
}
.header-area.fixed.over .header-bg {
  height: 196px;
}
.header-area.fixed.over .gnb-menu .subMenu-list {
  transition-delay: 0.15s;
}

footer {
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
footer .ftop-wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
}
footer .row {
  display: table-row;
}
footer .row > * {
  display: table-cell;
  vertical-align: top;
  padding: 0 6px;
}
footer .f-title span {
  display: block;
  color: rgb(128, 128, 128);
  font-size: 50px;
  font-weight: 800;
  line-height: 1.06122;
}
footer .f-title span:nth-of-type(1) {
  margin-bottom: -6px;
  margin-top: 40px;
}
footer .footer-item .cata {
  margin-top: 52px;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
footer .footer-item .cata::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  border-bottom: 2px solid rgb(102, 102, 102);
  opacity: 0.4;
}
footer .footer-item a {
  font-size: 16px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  display: inline-block;
}
footer .copyright {
  margin-top: 85px;
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}
footer .copyright .corp {
  float: left;
  min-width: 16.6667%;
}
footer .copyright .a-wrap {
  display: inline-block;
}
footer .copyright a.bold {
  font-weight: 700;
  text-decoration: underline;
}
footer .copyright a + a {
  margin-left: 16px;
}
footer .copyright .address {
  float: right;
  font-style: normal;
}

section.center .link-site {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
}
section.center .link-site:hover {
  color: rgb(255, 205, 0);
}
section.center .link-site:hover::after {
  margin-left: 24px;
  background-image: url(../images/ic_16_more_yellow.svg);
}
section.center .link-site::after {
  margin-left: 16px;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/ic_16_more.svg);
  display: inline-block;
  content: "";
  transition: margin-left 0.3s;
}

.loading-main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 34, 55);
  text-align: center;
  opacity: 1;
  z-index: 100;
  pointer-events: none;
}
.loading-main .wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-top: -14px;
  vertical-align: middle;
}
.loading-main .line {
  height: 40px;
  margin: 14px auto 0;
  background-color: rgb(255, 205, 0);
  transform: translateX(-100%);
  opacity: 1;
}
.loading-main .image {
  width: 20%;
  padding-bottom: 5%;
  margin: 14px auto 0;
  background-image: url(../images/slogan.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: scale(1);
  opacity: 0;
}

.visual-area {
  position: relative;
  height: 100vh;
  min-height: 56.25vw;
  overflow: hidden;
}
.visual-area video {
  height: 100%;
  width: 100%;
}
.visual-area .common-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual-area .title-area {
  font-size: 100px;
  font-weight: 800;
  line-height: 87px;
  color: rgb(255, 205, 0);
}
.visual-area .title-area em {
  display: block;
  height: 87px;
}
.visual-area .title-area em:last-child {
  margin-top: 0.2em;
}
.visual-area .day-distance {
  color: #fff;
  text-align: right;
  font-weight: 800;
}
.visual-area .day-distance strong {
  display: block;
  height: 34px;
  font-size: 22px;
  line-height: 34px;
}
.visual-area .day-distance em {
  display: inline-block;
  height: 46px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 46px;
  vertical-align: bottom;
}
.visual-area .day-distance em span {
  font-size: 72px;
  line-height: 92px;
  font-weight: 800;
}
.visual-area p {
  position: absolute;
  bottom: 0;
  height: 46px;
  font-size: 30px;
  line-height: 46px;
  color: #fff;
}
.visual-area .copy-clip {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
.visual-area .copy {
  position: fixed;
  right: -7.5em;
  bottom: 5em;
  font-size: 12px;
  color: #fff;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.sc-story {
  padding: 160px 0;
}
.sc-story .story-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.sc-story .story-box .text-area {
  width: 50%;
  padding: 0 6px;
}
.sc-story .story-box .text-wrap {
  width: 66.7%;
  margin: 0 auto;
  text-align: left;
}
.sc-story .story-box .text-wrap h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
}
.sc-story .story-box .text-wrap p {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
  word-break: keep-all;
  white-space: pre-wrap;
}
.sc-story .story-box .btn-more {
  color: #000;
}
.sc-story .story-box .btn-more::after {
  background-image: url(../images/ic_more_gray.svg);
}
.sc-story .story-box .btn-more:hover {
  color: rgb(255, 205, 0);
}
.sc-story .story-box .btn-more:hover::after {
  background-image: url(../images/ic_more_active.svg);
}
.sc-story .story-box .vid-area, .sc-story .story-box .img-area {
  position: relative;
  flex: 1;
  padding: 0 6px;
  overflow: hidden;
}
.sc-story .story-box .vid-area video, .sc-story .story-box .vid-area img, .sc-story .story-box .img-area video, .sc-story .story-box .img-area img {
  width: 100%;
  height: 100%;
}

.sc-service {
  height: 700px;
  background-image: url(../images/sc_service.png);
  background-size: contain;
  background-color: rgb(30, 35, 61);
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}
.sc-service .common-inner {
  position: relative;
}
.sc-service .text-wrap {
  position: absolute;
  top: 120px;
  font-size: 30px;
  font-weight: 800;
  opacity: 1;
}
.sc-service .text-wrap h2 {
  display: block;
  line-height: 46px;
  color: #fff;
}
.sc-service .text-wrap em {
  display: block;
  font-size: 100%;
  line-height: 46px;
  color: rgb(255, 205, 0);
}

.sc-mainRecruit {
  position: relative;
  height: 700px;
  overflow: hidden;
}
.sc-mainRecruit video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 177.714vh;
  min-height: 56.2701vw;
  transform: translate(-50%, -50%);
}
.sc-mainRecruit .text-wrap {
  position: absolute;
  top: 120px;
  padding: 0 6px;
  font-size: 30px;
  font-weight: 800;
}
.sc-mainRecruit .text-wrap h2 {
  line-height: 46px;
  color: #fff;
}
.sc-mainRecruit .text-wrap p {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.btn-kakaoT {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px 0;
  margin-top: 200px;
  border-top: 1px solid rgb(173, 173, 173);
  background-color: #fff;
  overflow-x: auto;
}
.btn-kakaoT button {
  position: relative;
  padding-top: 8px;
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  color: rgb(173, 173, 173);
  white-space: nowrap;
}
.btn-kakaoT button:hover::before {
  opacity: 1;
  transition: all 0.3s ease-out 0s;
  top: -8px;
}
.btn-kakaoT button::before {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: rgb(255, 205, 0);
  opacity: 0;
  content: "";
}
.btn-kakaoT button.active {
  color: #000;
}
.btn-kakaoT button.active::before {
  opacity: 1;
  transition: all 0.3s ease-out 0s;
  top: -8px;
}
.btn-kakaoT button:last-child {
  margin-right: 40px;
}
.btn-kakaoT.fixed {
  position: fixed;
  top: 55px;
  left: 0;
  padding: 30px 0;
  margin: 0;
  z-index: 10;
}
.btn-kakaoT::-webkit-scrollbar {
  width: 30%;
  height: 6px;
}
.btn-kakaoT::-webkit-scrollbar-track {
  background-color: transparent;
}
.btn-kakaoT::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
.btn-kakaoT::-webkit-scrollbar-thumb {
  background-color: rgb(201, 201, 201);
  border-radius: 23px;
}
.btn-kakaoT::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.sc-kakaoT {
  display: none;
  margin-top: 22px;
  border-top: 1px solid rgb(229, 229, 229);
}
.sc-kakaoT .mainImg-area img {
  width: 100%;
  height: 610px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  opacity: 1;
}
.sc-kakaoT .mainTitle-box {
  display: flex;
  padding: 50px 0 200px;
}
.sc-kakaoT .mainTitle-box h2 {
  width: 50%;
  padding: 0 150px;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
  white-space: pre-line;
}
.sc-kakaoT .mainTitle-box p {
  flex: 1;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  white-space: pre-line;
}
.sc-kakaoT .mainTitle-box .desc {
  width: 50%;
}
.sc-kakaoT .mainTitle-box .desc p {
  padding-bottom: 30px;
}
.sc-kakaoT .mainTitle-box .desc a {
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid rgb(128, 128, 128);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.sc-kakaoT .content-area {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.sc-kakaoT .title-box {
  flex: 1;
  padding: 0 6px;
}
.sc-kakaoT .title-box h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.sc-kakaoT .title-box p {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.sc-kakaoT .title-wrap {
  width: 66.7%;
  margin: 0 auto;
}
.sc-kakaoT .img-box {
  position: relative;
  width: 50%;
  padding: 0 6px;
  overflow: hidden;
}
.sc-kakaoT .img-box img {
  width: 100%;
}
.sc-kakaoT .yellow-box {
  display: block;
  width: 100%;
  height: 650px;
  padding: -40px;
  margin: 60px 0 80px;
  background-color: rgb(255, 205, 0);
}
.sc-kakaoT .yellow-box .img-box {
  display: flex;
  flex-flow: row-reverse;
  padding: 0;
  overflow: unset;
}
.sc-kakaoT .yellow-box img {
  margin-top: -60px;
  width: 321px;
  height: auto;
  padding-right: 16.66%;
  box-sizing: content-box;
}
.sc-kakaoT .yellow-box .title-box {
  padding: 0;
}
.sc-kakaoT .yellow-box .title-box h3 {
  word-break: normal;
  overflow-wrap: normal;
}
.sc-kakaoT .yellow-inner {
  display: flex;
  align-items: center;
  padding: 0 5%;
}
.sc-kakaoT .yellow-inner.reverse .img-box {
  flex-flow: row;
}
.sc-kakaoT .yellow-inner.reverse .img-box img {
  padding-left: 16.66%;
}
.sc-kakaoT.active {
  display: block;
}
.sc-kakaoT.fixed {
  margin-top: 288px;
}

.animate-taxi {
  position: relative;
  width: 100%;
  height: 608px;
  margin-top: 120px;
  background-image: url(../images/bg_taxi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}
.animate-taxi strong {
  display: block;
  padding: 94px 6px 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
}
.animate-taxi .desc {
  padding: 24px 6px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  white-space: pre-line;
}
.animate-taxi .btn-area {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-top: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.animate-taxi .btn-area button {
  display: inline-block;
  width: 100%;
  padding: 12px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  transition: 0.5s ease-in-out;
}
.animate-taxi .btn-area button.active, .animate-taxi .btn-area button:hover {
  color: rgb(255, 205, 0);
}
.animate-taxi .animate-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.animate-taxi .animate-content img {
  position: absolute;
  bottom: 0px;
  left: -80px;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  z-index: 1;
}
.animate-taxi .animate-content p {
  display: block;
  position: absolute;
  top: 150px;
  left: 33.3%;
  width: 33.3%;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(255, 255, 255);
  white-space: pre-line;
  opacity: 0;
}
.animate-taxi .animate-content p::after {
  content: "";
  display: block;
  margin-top: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.6s ease-out 0.6s;
}

.animate-proxy {
  position: relative;
  color: #fff;
}
.animate-proxy .common-inner {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.animate-proxy strong {
  display: block;
  padding: 109px 6px 24px;
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
}
.animate-proxy p {
  padding: 0 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  white-space: pre-line;
}
.animate-proxy .btn-proxy {
  padding-left: 5%;
  padding-right: 5%;
  bottom: 109px;
  z-index: 2;
  width: 300px;
  text-align: left;
  box-sizing: content-box;
}
.animate-proxy .btn-proxy .swiper-pagination-bullet {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}
.animate-proxy .btn-proxy .swiper-pagination-bullet:nth-child(1)::after {
  content: "이코노미";
  display: block;
}
.animate-proxy .btn-proxy .swiper-pagination-bullet:nth-child(2)::after {
  content: "스탠다드";
  display: block;
}
.animate-proxy .btn-proxy .swiper-pagination-bullet:nth-child(3)::after {
  content: "프리미엄";
  display: block;
}
.animate-proxy .btn-proxy .swiper-pagination-bullet::after {
  display: inline-block;
  width: 100%;
  padding: 12px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.6);
}
.animate-proxy .btn-proxy .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  color: rgb(255, 205, 0);
}

.proxyDetail {
  width: 100%;
  height: 100%;
}

.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}

.proxy-type {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 608px;
  background-position: center -14px;
  background-size: cover;
  background-repeat: no-repeat;
}
.proxy-type p {
  position: absolute;
  top: 109px;
  left: 37.6%;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  white-space: pre-line;
  opacity: 1;
}
.proxy-type.type-economy {
  background-image: url(../images/proxy_economy.png);
}
.proxy-type.type-standard {
  background-image: url(../images/proxy_standard.png);
}
.proxy-type.type-premium {
  background-image: url(../images/proxy_premium.png);
}

.sc-app {
  padding: 200px 0 100px;
  text-align: center;
}
.sc-app img {
  width: 129px;
  height: 129px;
  padding-bottom: 30px;
  box-sizing: content-box;
  opacity: 1;
}
.sc-app h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.sc-app p {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.sc-app a {
  display: inline-block;
  margin-right: 10px;
  background-color: transparent;
  width: 220px;
  height: 86px;
  padding: 26px 0px;
  margin-top: 40px;
  border: 1px solid #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  transition: 0.1s ease-in;
}
.sc-app a::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.sc-app a.googlePlay::before {
  background-image: url(../images/ic_googleplay.svg);
}
.sc-app a.appStore::before {
  background-image: url(../images/ic_appstore.svg);
}
.sc-app a:hover {
  background-color: rgb(255, 205, 0);
  border: 1px solid rgb(255, 205, 0);
}

.sc-kakaoTguide {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: #fff;
}
.sc-kakaoTguide .bg-guide {
  width: 100%;
  height: 632px;
  background-image: url(../images/sc_guide.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.sc-kakaoTguide .text-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 220px;
}
.sc-kakaoTguide .text-box h2 {
  display: block;
  padding: 0 6px;
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
}
.sc-kakaoTguide .text-box p {
  padding: 24px 6px 0 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.sc-kakaoTguide .text-box a {
  margin: 0 6px;
}

.sc-qa {
  padding: 100px 0;
}
.sc-qa .common-inner {
  display: flex;
}
.sc-qa .title-box {
  position: relative;
  width: 50%;
  display: inline-block;
  padding-left: 0px;
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
  text-align: center;
  vertical-align: top;
}
.sc-qa .bg-qa {
  position: absolute;
  top: 0px;
  left: 125px;
  max-height: 100%;
  margin: 0px 5%;
  width: 393px;
  height: 175px;
  background-image: url(../images/sc_qa.svg), none;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.sc-qa .text-box {
  flex: 1;
}
.sc-qa .text-box p {
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.sc-qa .btn-more {
  color: #000;
}
.sc-qa .btn-more::after {
  background: url(../images/ic_more_gray.svg);
}
.sc-qa .btn-more:hover {
  color: rgb(255, 205, 0);
}
.sc-qa .btn-more:hover::after {
  margin-left: 24px;
  background-image: url(../images/ic_more_active.svg), none;
}

.sc-partner {
  position: relative;
  width: 100%;
  height: 632px;
  padding-top: 100px;
  color: #fff;
  overflow-x: hidden;
}
.sc-partner video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 303.797vh;
  min-height: 32.9167vw;
  z-index: -1;
}
.sc-partner .text-box {
  padding: 0 6px;
}
.sc-partner h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
  white-space: pre-line;
}
.sc-partner p {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  white-space: pre-line;
}
.sc-partner h3 {
  padding: 50px 0 30px;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  color: rgb(255, 205, 0);
}
.sc-partner .partner-list {
  display: flex;
  gap: 10px;
}
.sc-partner .partner-list a {
  display: inline-block;
  margin: 0px;
  background-color: transparent;
  width: auto;
  height: 86px;
  padding: 26px 36px;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
.sc-partner .partner-list a:hover {
  border: 1px solid rgb(255, 205, 0);
  color: rgb(255, 205, 0);
}

.sc-suppinfor {
  margin-top: 100px;
}
.sc-suppinfor .desc {
  margin-top: 40px;
}
.sc-suppinfor .link-site {
  margin-top: 30px;
}

.sc-custalk {
  margin: 200px 0;
}
.sc-custalk .txt-notice {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
.sc-custalk .s-title {
  display: table-cell;
  vertical-align: top;
  padding: 0 150px;
}
.sc-custalk .desc {
  display: table-cell;
  vertical-align: top;
}
.sc-custalk .talk-box {
  margin-top: 30px;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
.sc-custalk .talk-box .left {
  display: table-cell;
  vertical-align: middle;
}
.sc-custalk .talk-box .right {
  display: table-cell;
  vertical-align: middle;
}
.sc-custalk .talk-box a {
  box-sizing: border-box;
  margin: 0px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(128, 128, 128);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  width: 330px;
  padding: 9px 0px 9px 20px;
}
.sc-custalk .talk-box a + a {
  margin-top: 10px;
}
.sc-custalk .ig-notice {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.sc-custalk .ig-notice .view-box {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 6px 0;
}
.sc-custalk .ig-notice .view-box .ig-box {
  width: 321px;
  margin: 0px auto;
}
.sc-custalk .ig-notice .view-box .ig-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-custalk .ig-notice .view-box .text-box {
  margin-top: 50px;
}
.sc-custalk .ig-notice .view-box .text-box .s-title {
  padding: 0;
  display: block;
}
.sc-custalk .ig-notice .view-box .text-box .content {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

section.center {
  text-align: center;
}
section .row {
  display: table-row;
}
section .s-title {
  font-size: 30px;
  font-weight: 800;
  line-height: 46px;
}
section .desc {
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.sc-movelife {
  margin-top: 200px;
}
.sc-movelife .row {
  display: flex;
  width: 100%;
}
.sc-movelife .row:nth-last-of-type(1) {
  margin-top: 200px;
}
.sc-movelife .row .notify-box {
  width: 33.3333333333%;
  padding: 0 6px;
}
.sc-movelife .row .notify-box .link-site {
  margin-top: 30px;
}
.sc-movelife .row .text-box {
  padding-top: 50px;
  text-align: left;
}
.sc-movelife .row .video-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sc-movelife .row .video-box video {
  width: 100%;
}
.sc-movelife .row .video-box .cover {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-movelife .row .sub-title {
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
}
.sc-movelife .row .txt-desc {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
}
.sc-movelife .box {
  width: calc((100% - 12px) / 2);
  padding: 0 6px;
  text-align: left;
}
.sc-movelife .box .sub-title {
  margin-top: 50px;
  margin-bottom: -4px;
}
.sc-movelife .box .view-video {
  width: 100%;
  height: 25vw;
  max-height: 475px;
  display: block;
}
.sc-movelife .box .txt-wrap.txt {
  width: 66.7%;
  margin: 0px auto;
}
.sc-movelife .box .txt-wrap.vide {
  max-width: 852px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.sc-movelife .box .cover {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
}
.sc-movelife .box .b-wrap {
  margin-top: 24px;
}
.sc-movelife .box .b-wrap div:last-child .link-site {
  margin: 0;
}
.sc-movelife .box .link-site {
  margin-bottom: 12px;
}

.sc-kakaoload {
  margin-top: 200px;
}
.sc-kakaoload.active .day-box {
  display: flex;
}
.sc-kakaoload.active .btn-more::after {
  background-image: url(../images/ic_16_unfold.svg);
}
.sc-kakaoload .btn-more {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  margin: 80px auto 120px;
  text-align: center;
}
.sc-kakaoload .btn-more::after {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  content: "";
  background-image: url(../images/ic_16_fold.svg);
}
.sc-kakaoload .s-title {
  margin-bottom: 122px;
}
.sc-kakaoload .history-box {
  display: table;
  margin: auto;
  text-align: left;
}
.sc-kakaoload .day-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  display: none;
}
.sc-kakaoload .day-box:nth-of-type(1), .sc-kakaoload .day-box:nth-of-type(2) {
  display: flex;
}
.sc-kakaoload .day-box .day {
  width: 52px;
  padding-right: 40px;
  white-space: nowrap;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  box-sizing: content-box;
}
.sc-kakaoload .day-box .month {
  box-sizing: content-box;
  flex-shrink: 0;
  flex-grow: 0;
  width: 32px;
  padding-right: 32px;
  color: rgb(128, 128, 128);
}
.sc-kakaoload .right-box .text-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.sc-kakaoload .right-box .text-box span {
  display: block;
  flex-grow: 1;
  margin-bottom: 20px;
}
.sc-kakaoload .right-box .text-box:last-child span:last-child {
  margin-bottom: 0;
}

.sc-recruitinfor {
  margin-top: 100px;
}
.sc-recruitinfor .desc {
  margin-top: 40px;
}
.sc-recruitinfor .link-site {
  margin-top: 30px;
}

.sc-recruit {
  margin-top: 200px;
}
.sc-recruit .link-site {
  margin-top: 30px;
}
.sc-recruit .row {
  display: flex;
}
.sc-recruit .left-box {
  width: auto;
}
.sc-recruit .left-box .ig-box {
  display: none;
  position: relative;
}
.sc-recruit .left-box .ig-box .cover {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-recruit .left-box .ig-box.active {
  display: block;
}
.sc-recruit .left-box .ig-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-recruit .right-box {
  width: calc(50% - 12px);
  padding-left: 150px;
  margin: 0px 6px;
  text-align: left;
}
.sc-recruit .right-box .text {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.sc-recruit .right-box .text.gray {
  color: rgb(102, 102, 102);
  padding-top: 0;
  display: none;
}
.sc-recruit .right-box .text.gray.active {
  display: block;
}
.sc-recruit .right-box .text-box {
  padding-top: 16px;
  margin-top: 8px;
  position: relative;
}
.sc-recruit .right-box .text-box::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(102, 102, 102);
  position: absolute;
  top: 0;
  left: 0;
}
.sc-recruit .right-box .tab-list {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.sc-recruit .right-box .tab-list::-webkit-scrollbar {
  height: 6px;
}
.sc-recruit .right-box .tab-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.sc-recruit .right-box .tab-list::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
.sc-recruit .right-box .tab-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(201, 201, 201);
}
.sc-recruit .right-box .tab-list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.sc-recruit .right-box .tab-item {
  padding-top: 8px;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  color: rgb(173, 173, 173);
  white-space: nowrap;
}
.sc-recruit .right-box .tab-item a:hover::before {
  opacity: 1;
  transition: all 0.3s ease-out 0s;
  top: -8px;
}
.sc-recruit .right-box .tab-item a::before {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: rgb(255, 205, 0);
  opacity: 0;
  content: "";
}
.sc-recruit .right-box .tab-item.active {
  color: #000;
}
.sc-recruit .right-box .tab-item.active a::before {
  opacity: 1;
  transition: all 0.3s ease-out 0s;
  top: -8px;
}
.sc-recruit .right-box .tab-item + .tab-item a {
  margin-left: 40px;
}
.sc-recruit .right-box .tab-item a {
  display: block;
  position: relative;
}

.sc-culture {
  margin-top: 200px;
}
.sc-culture .link-site {
  margin-top: 30px;
}
.sc-culture .ig-box {
  width: 100%;
  height: 610px;
}
.sc-culture .ig-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.sc-culture .row {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  text-align: left;
}
.sc-culture .row > * {
  width: 50%;
}
.sc-culture .row .s-title {
  padding: 0 150px;
}

.navifixed {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}

.sc-intro .intro-title-area {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 200px 0;
}
.sc-intro .intro-title-area .sc-title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}
.sc-intro .intro-title-area .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 40px;
}
.sc-intro .line {
  display: block;
  width: 100%;
  border-top: 1px solid rgb(102, 102, 102);
  padding-bottom: 200px;
}
.sc-intro .title-box {
  width: 100%;
  padding: 100px 0 200px 0;
  display: table;
  table-layout: fixed;
}
.sc-intro .title-box .sc-title {
  display: table-cell;
  padding: 0px 150px;
}
.sc-intro .title-box .sc-title .num {
  font-size: 72px;
  font-weight: 700;
  line-height: 92px;
  padding-right: 20px;
}
.sc-intro .title-box .sc-title .title {
  word-break: keep-all;
  overflow-wrap: break-word;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  padding-left: 0px;
  vertical-align: top;
}
.sc-intro .title-box .desc {
  display: table-cell;
  vertical-align: middle;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.sc-intro .contents-item {
  display: flex;
  align-items: center;
}
.sc-intro .contents-item + .contents-item {
  padding-top: 80px;
}
.sc-intro .contents-item.driving {
  flex-direction: row-reverse;
}
.sc-intro .contents-item.reverse {
  flex-direction: row-reverse;
}
.sc-intro .contents-item.parking {
  flex-direction: row-reverse;
}
.sc-intro .img-box {
  position: relative;
  overflow: hidden;
  flex: 1;
}
.sc-intro .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-intro .txt-inner {
  flex: 1;
}
.sc-intro .txt-inner .txt-box {
  width: 66.7%;
  margin: 0 auto;
}
.sc-intro .txt-inner .title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}
.sc-intro .txt-inner .title em {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  font-style: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.sc-intro .txt-inner .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
  vertical-align: baseline;
}
.sc-intro .txt-inner .link-contents {
  display: inline-block;
  padding: 30px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.sc-intro .txt-inner .link-contents::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow.svg);
  margin-top: -0.1em;
  margin-left: 14px;
  transition: margin-left 0.2s ease-out 0s;
}
.sc-intro .txt-inner .link-contents:hover {
  color: rgb(255, 205, 0);
}
.sc-intro .txt-inner .link-contents:hover::after {
  background-image: url(../images/icon/arrow-hover.svg);
  margin-left: 24px;
}

.cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.sc-report {
  position: relative;
  background-color: rgb(32, 34, 55);
}
.sc-report .common-inner {
  display: flex;
  align-items: center;
}
.sc-report .left-area {
  flex: 1;
}
.sc-report .left-area .sc-title {
  padding-top: 77px;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  color: rgb(255, 255, 255);
}
.sc-report .left-area .img-box img {
  width: 100%;
  padding: 80px 70px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}
.sc-report .right-area {
  flex: 1;
}
.sc-report .right-area .year-list {
  position: absolute;
  top: 77px;
  left: 50%;
  right: 0px;
  border-top: 1px solid rgb(173, 173, 173);
  padding-top: 40px;
  margin-right: 5%;
  color: rgb(173, 173, 173);
}
.sc-report .right-area .year-list .btn-year {
  position: relative;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  color: rgb(173, 173, 173);
}
.sc-report .right-area .year-list .btn-year + .btn-year {
  margin-left: 40px;
}
.sc-report .right-area .year-list .btn-year.active {
  color: rgb(255, 205, 0);
}
.sc-report .right-area .year-list .btn-year.active .deco {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: rgb(255, 205, 0);
  opacity: 1;
}
.sc-report .right-area .year-list .btn-year .deco {
  position: absolute;
  top: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: rgb(255, 205, 0);
  opacity: 0;
}
.sc-report .right-area .year-list .btn-year:hover .deco {
  opacity: 1;
  transition: 0.3s ease-out 0s;
  top: -8px;
}
.sc-report .txt-box {
  display: none;
}
.sc-report .txt-box.active {
  display: block;
}
.sc-report .title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  color: #fff;
}
.sc-report .title em {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  font-style: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.sc-report .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  vertical-align: baseline;
}
.sc-report .link-contents {
  display: inline-block;
  padding: 30px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}
.sc-report .link-contents::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow.svg);
  margin-top: -0.1em;
  margin-left: 14px;
  transition: margin-left 0.2s ease-out 0s;
}
.sc-report .link-contents:hover {
  color: rgb(255, 205, 0);
}
.sc-report .link-contents:hover::after {
  background-image: url(../images/icon/arrow-hover.svg);
  margin-left: 24px;
}

.sc-safeapp {
  padding-bottom: 200px;
}
.sc-safeapp .sc-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
.sc-safeapp .app-list {
  display: flex;
  flex-wrap: wrap;
}
.sc-safeapp .app-item {
  width: 50%;
  text-align: center;
  padding-top: 100px;
}
.sc-safeapp .img-box img {
  width: 321px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
}
.sc-safeapp .txt-box .title {
  word-break: keep-all;
  overflow-wrap: break-word;
  display: block;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  color: rgb(0, 0, 0);
}
.sc-safeapp .txt-box .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

.sc-contents {
  padding-bottom: 200px;
}
.sc-contents .sc-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
.sc-contents .contents-list {
  padding-top: 50px;
  display: flex;
}
.sc-contents .contents-item {
  width: calc((100% - 24px) / 3);
}
.sc-contents .contents-item + .contents-item {
  margin-left: 12px;
}
.sc-contents .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-contents .txt-box {
  padding-top: 50px;
}
.sc-contents .txt-box .title {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.sc-contents .txt-box .title em {
  display: block;
  color: rgb(128, 128, 128);
  font-style: normal;
}
.sc-contents .txt-box .desc {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
}
.sc-contents .txt-box .promise {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.sc-contents .txt-box .promise .category {
  white-space: nowrap;
  color: rgb(102, 102, 102);
  padding-right: 16px;
  font-style: normal;
}
.sc-contents .txt-box .promise .desc {
  padding: 0;
  position: relative;
  color: rgb(102, 102, 102);
  padding-left: 16px;
  height: 100%;
  border-left: 1px solid rgb(229, 229, 229);
}

.sc-business {
  padding-top: 200px;
}
.sc-business .business-bg {
  width: 100%;
  height: 610px;
  background: url(../images/bg/business-bg.jpg) no-repeat center;
  background-size: cover;
}
.sc-business .navi01-bg {
  width: 100%;
  height: 610px;
  background: url(../images/bg/navi-bg01.jpg) no-repeat center;
  background-size: cover;
}
.sc-business .navi02-bg {
  width: 100%;
  height: 610px;
  background: url(../images/bg/navi-bg02.png) no-repeat center;
  background-size: cover;
}
.sc-business .auto-bg {
  width: 100%;
  height: 610px;
  background: url(../images/bg/auto-bg.png) no-repeat center;
  background-size: cover;
}
.sc-business .title-box {
  display: flex;
  font-weight: 700;
  padding-top: 50px;
}
.sc-business .sc-title {
  flex: 1;
  display: inline-block;
  font-size: 30px;
  line-height: 46px;
  padding-left: 150px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.sc-business .desc {
  width: 50%;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 22px;
  line-height: 34px;
}

.contents-area {
  padding-top: 200px;
}
.contents-area .img-box {
  width: calc((100% - 12px) / 2);
  padding: 0 6px;
}
.contents-area .txt-inner {
  width: calc((100% - 12px) / 2);
  padding: 0 6px;
}

.sc-kakaoTapp {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 60px;
  background-color: rgb(255, 205, 0);
}
.sc-kakaoTapp .common-inner {
  display: flex;
  align-items: center;
}
.sc-kakaoTapp .img-box {
  width: 50%;
  display: flex;
}
.sc-kakaoTapp .img-box img {
  position: relative;
  margin: -60px auto 0px;
  width: 321px;
  height: auto;
  margin-right: 16.66%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-kakaoTapp .txt-inner {
  width: 50%;
}
.sc-kakaoTapp .txt-inner {
  width: 50%;
}
.sc-kakaoTapp .txt-inner .txt-box {
  width: 66.6%;
  margin: 0 auto;
}
.sc-kakaoTapp .txt-inner .sc-title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}
.sc-kakaoTapp .txt-inner .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(102, 102, 102);
  vertical-align: baseline;
}
.sc-kakaoTapp .txt-inner .link-contents {
  display: inline-block;
  padding: 30px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.sc-kakaoTapp .txt-inner .link-contents::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow.svg);
  margin-top: -0.1em;
  margin-left: 14px;
  transition: margin-left 0.2s ease-out 0s;
}
.sc-kakaoTapp .txt-inner .link-contents:hover {
  color: rgb(255, 205, 0);
}
.sc-kakaoTapp .txt-inner .link-contents:hover::after {
  background-image: url(../images/icon/arrow-hover.svg);
  margin-left: 24px;
}

.sc-Appintro {
  padding: 200px 0;
}
.sc-Appintro .appintro-wrap {
  text-align: center;
}
.sc-Appintro .img-box img {
  width: 129px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 20px;
}
.sc-Appintro .sc-title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}
.sc-Appintro .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 40px;
  white-space: pre-wrap;
}
.sc-Appintro .link-contents {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.sc-Appintro .link-contents::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow.svg);
  margin-top: -0.1em;
  margin-left: 14px;
  transition: margin-left 0.2s ease-out 0s;
}
.sc-Appintro .link-contents:hover {
  color: rgb(255, 205, 0);
}
.sc-Appintro .link-contents:hover::after {
  background-image: url(../images/icon/arrow-hover.svg);
  margin-left: 24px;
}
.sc-Appintro .btn-box {
  display: flex;
  justify-content: center;
}
.sc-Appintro .btn-box .link-btn {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  outline: none;
  color: rgb(0, 0, 0);
  width: 220px;
  height: 86px;
  padding: 26px 0px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  transition: 0.1s ease-in 0s;
}
.sc-Appintro .btn-box .link-btn:hover {
  background-color: rgb(255, 205, 0);
  border: 1px solid rgb(255, 205, 0);
}
.sc-Appintro .btn-box .google::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icon/ic-google.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 8px;
}
.sc-Appintro .btn-box .apple::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icon/ic-apple.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 8px;
}

.sc-guide {
  width: 100%;
  height: 632px;
  background: url(../images/content/business-guide.jpg) no-repeat;
  background-size: cover;
}
.sc-guide .txt-box {
  padding-top: 120px;
  font-weight: 700;
  line-height: 46px;
  color: rgb(255, 255, 255);
}
.sc-guide .txt-box .sc-title {
  font-size: 30px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.sc-guide .txt-box .desc {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  white-space: pre-wrap;
}
.sc-guide .link-contents {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}
.sc-guide .link-contents::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow-sub.svg);
  margin-top: -0.1em;
  margin-left: 14px;
  transition: margin-left 0.2s ease-out 0s;
}
.sc-guide .link-contents:hover {
  color: rgb(255, 205, 0);
}
.sc-guide .link-contents:hover::after {
  background-image: url(../images/icon/arrow-hover.svg);
  margin-left: 24px;
}

.sc-QnA {
  padding: 200px 0;
}
.sc-QnA .common-inner {
  display: flex;
}
.sc-QnA .title-box {
  flex: 1;
  font-weight: 700;
  line-height: 46px;
  z-index: -1;
  width: 393px;
  height: 131px;
  max-height: 100%;
  background: url(../images/content/ic-qna.svg) no-repeat;
  background-size: contain;
  margin-left: 150px;
}
.sc-QnA .title-box .sc-title {
  font-size: 30px;
  word-break: keep-all;
  overflow-wrap: break-word;
  display: inline-block;
  padding-left: 0px;
  vertical-align: top;
  white-space: pre-wrap;
}
.sc-QnA .txt-box {
  width: 50%;
}
.sc-QnA .txt-box .desc {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  white-space: pre-wrap;
}
.sc-QnA .link-contents {
  display: inline-block;
  padding: 30px 0px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.sc-QnA .link-contents::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow.svg);
  margin-top: -0.1em;
  margin-left: 14px;
  transition: margin-left 0.2s ease-out 0s;
}
.sc-QnA .link-contents:hover {
  color: rgb(255, 205, 0);
}
.sc-QnA .link-contents:hover::after {
  background-image: url(../images/icon/arrow-hover.svg);
  margin-left: 24px;
}

.intro-area {
  padding-top: 200px;
}
.intro-area .sc-business {
  padding: 0;
}
.intro-area .btn-box {
  border-top: 1px solid rgb(173, 173, 173);
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-top: 30px;
  padding-bottom: 43px;
  text-align: center;
}
.intro-area .btn-box .btn {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  color: rgb(173, 173, 173);
}
.intro-area .btn-box .btn + .btn {
  margin-left: 40px;
}
.intro-area .btn-box .btn.active {
  color: rgb(0, 0, 0);
}
.intro-area .btn-box .btn.active .deco {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: rgb(255, 205, 0);
  opacity: 1;
}
.intro-area .btn-box .btn .deco {
  position: absolute;
  top: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: rgb(255, 205, 0);
  opacity: 0;
}
.intro-area .btn-box .btn:hover .deco {
  opacity: 1;
  transition: 0.3s ease-out 0s;
  top: -8px;
}

.intro-wrap {
  display: none;
}
.intro-wrap.active {
  display: block;
}
.intro-wrap.active .navi01-bg,
.intro-wrap.active .navi02-bg {
  -webkit-animation: fadeInUp 1.3s;
          animation: fadeInUp 1.3s;
  transition: ease-in-out;
}
.intro-wrap .sc-kakaoTapp {
  margin-top: 200px;
}
.intro-wrap .sc-kakaoTapp .common-inner {
  flex-direction: row-reverse;
}
.intro-wrap .sc-kakaoTapp .img-box2 {
  width: 50%;
}
.intro-wrap .sc-kakaoTapp .img-box2 img {
  position: relative;
  margin: -60px auto 0px;
  width: 321px;
  height: auto;
  margin-left: 16.66%;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}

@media screen and (max-width: 1408px) {
  /* 1023까지잡혀야함 */
}
@media screen and (max-width: 1023px) {
  /* 767까지잡혀야함 */
  /* 테블릿 */
}
@media screen and (max-width: 767px) {
  /* 320까지잡혀야함 */
  /* 모바일 ~ 더나와도됨 480 등등 필요하면 더 가능 */
}