@font-face {
    font-family: "KakaoBig";
    font-style: normal;
    font-weight: 800;
    src: url("../font/KakaoBigExtraBold.woff2") format("woff2");
}
@font-face {
    font-family: "KakaoBig";
    font-style: normal;
    font-weight: 700;
    src: url("../font/KakaoBigBold.woff2") format("woff2");
}

@font-face {
    font-family: "KakaoBig";
    font-style: normal;
    font-weight: 400;
    src: url("../font/KakaoBigRegular.woff2") format("woff2");
}