
.btn-kakaoT {
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px 0;
    margin-top: 200px;
    border-top: 1px solid rgb(173, 173, 173);
    background-color: #fff;
    overflow-x: auto;

    button {
        position: relative;
        padding-top: 8px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 800;
        line-height: 34px;
        color: rgb(173, 173, 173);
        white-space: nowrap;

        &:hover::before {
            opacity: 1;
            transition: all 0.3s ease-out 0s;
            top: -8px;
        }

        &::before {
            position: absolute;
            top: 0px;
            left: 50%;
            width: 8px;
            height: 8px;
            margin-left: -4px;
            border-radius: 50%;
            background-color: rgb(255, 205, 0);
            opacity: 0;
            content:'';
        }

        &.active {
            color: #000;
            &::before {
                opacity: 1;
                transition: all 0.3s ease-out 0s;
                top: -8px;
            }
            
        }
        &:last-child {
            margin-right: 40px;
        }
    }
    &.fixed {
        position: fixed;
        top: 55px; left: 0;
        padding: 30px 0;
        margin: 0;
        z-index: 10;
    }
    
    &::-webkit-scrollbar {
        width: 30%;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: gray;
    }   
    &::-webkit-scrollbar-thumb {
        background-color: rgb(201, 201, 201);
        border-radius: 23px;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}

.sc-kakaoT {
    display: none;
    margin-top: 22px;
    border-top: 1px solid rgb(229, 229, 229);
    .mainImg-area img {
        width: 100%; height: 610px;
        object-fit: cover;
        object-position: 50% 50%;
        opacity: 1;
    }
    .mainTitle-box {
        display: flex;
        padding: 50px 0 200px;
        h2 {
            width: 50%;
            padding: 0 150px;
            word-break: keep-all;
            overflow-wrap: break-word;
            font-size: 30px;
            font-weight: 800;
            line-height: 46px;
            white-space: pre-line;
        }
        p {
            flex: 1;
            word-break: keep-all;
            overflow-wrap: break-word;
            font-size: 22px;
            font-weight: 800;
            line-height: 34px;
            white-space: pre-line;
        }
        .desc {
            width: 50%;
            p {
                padding-bottom: 30px;
            }
            a {
                display: inline-block;
                padding: 9px 20px;
                border: 1px solid rgb(128, 128, 128);
                font-size: 16px;
                font-weight: 700;
                line-height: 30px;
                color: rgb(0, 0, 0);
            }
        }
    }
    .content-area {
        display: flex;
        align-items: center;
        padding-bottom: 80px;
    }
    .title-box {
        flex: 1;
        padding: 0 6px;
        h3 {
            font-size: 30px;
            font-weight: 800;
            line-height: 46px;
            word-break: keep-all;
            overflow-wrap: break-word;
            white-space: pre-line;
        }
        p {
            padding-top: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: rgb(102, 102, 102);
            word-break: keep-all;
            overflow-wrap: break-word;
            white-space: pre-line;
        }
    }
    .title-wrap {
        width: 66.7%;
        margin: 0 auto;
    }
    .img-box {
        position: relative;
        width: 50%;
        padding: 0 6px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .yellow-box {
        display: block;
        width: 100%; height: 650px;
        padding: -40px;
        margin: 60px 0 80px;
        background-color: rgb(255, 205, 0);
        .img-box {
            display: flex;
            flex-flow: row-reverse;
            padding: 0;
            overflow: unset;
        }
        img {
            margin-top: -60px;
            width: 321px; height: auto;
            padding-right: 16.66%;
            box-sizing: content-box;
        }
        .title-box {
            padding: 0;
            h3 {
                word-break: normal;
                overflow-wrap: normal;
            }
        }
    }
    .yellow-inner {
        display: flex;
        align-items: center;
        padding: 0 5%;
        &.reverse .img-box {
            flex-flow: row;
            img {
                padding-left: 16.66%;
            }
        } 
    }
    &.active {
        display: block;
    }
    &.fixed {
        margin-top: 288px;
    }
}

.animate-taxi {
    position: relative;
    width: 100%; height: 608px;
    margin-top: 120px;
    background-image: url(../images/bg_taxi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    strong {
        display: block;
        padding: 94px 6px 0;
        font-size: 30px;
        font-weight: 800;
        line-height: 46px;
    }
    .desc {
        padding: 24px 6px 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        white-space: pre-line;
    }
    .btn-area {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        padding-top: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 2;
        button {   
            display: inline-block;
            width: 100%;
            padding: 12px 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            font-size: 22px;
            font-weight: 800;
            line-height: 34px;
            color: rgba(255, 255, 255, 0.6);
            text-align: left;
            transition: .5s ease-in-out;
            &.active, &:hover {
                color: rgb(255, 205, 0);
            }
        }
    }
    .animate-content {
        position: absolute;
        top: 0;
        width: 100%; height: 100%;
        pointer-events: none;
        img {
            position: absolute;
            bottom: 0px; left: -80px;
            max-width: 100%;
            max-height: 100%;
            pointer-events: none;
            z-index: 1;
        }
        p {
            display: block;
            position: absolute;
            top: 150px; left: 33.3%;
            width: 33.3%;
            padding-bottom: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: rgb(255, 255, 255);
            white-space: pre-line;
            opacity: 0;
            &::after {
                content: "";
                display: block;
                margin-top: 30px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                transition: .6s ease-out .6s;
            }
        }
    }
}
.animate-proxy {
    position: relative;
    color: #fff;
    .common-inner {
        position: absolute;
        pointer-events: none;
        z-index: 2;
    }
    strong {
        display: block;
        padding: 109px 6px 24px;
        font-size: 30px;
        font-weight: 800;
        line-height: 46px;
    }
    p {
        padding: 0 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        white-space: pre-line;
    }
    
    .btn-proxy {
        padding-left: 5%;
        padding-right: 5%;
        bottom: 109px;
        z-index: 2;
        width: 300px;
        text-align: left;
        box-sizing: content-box;
        & .swiper-pagination-bullet {
            width: 100%; height: 100%;
            border-radius: 0;
            background: transparent;
            opacity: 1;
            &:nth-child(1)::after {
                content: '이코노미';
                display: block;
            }
            &:nth-child(2)::after {
                content: '스탠다드';
                display: block;
            }
            &:nth-child(3)::after {
                content: '프리미엄';
                display: block;
            }
            &::after {
                display: inline-block;
                width: 100%;
                padding: 12px 6px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                font-size: 22px;
                font-weight: 800;
                line-height: 34px;
                color: rgba(255, 255, 255, 0.6);
            }
            &.swiper-pagination-bullet-active::after {
                color: rgb(255, 205, 0);
            }
        }
    }
}
.proxyDetail {
    width: 100%;
    height: 100%;
}

.dimmed {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #fff;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
}

.proxy-type {
    position: relative;
    flex-shrink: 0;
    width: 100%; height: 608px;
    background-position: center -14px;
    background-size: cover;
    background-repeat: no-repeat;
    p {
        position: absolute;
        top: 109px; left: 37.6%;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        white-space: pre-line;
        opacity: 1;
    }
    
    &.type-economy {
        background-image: url(../images/proxy_economy.png);
    }
    &.type-standard {
        background-image: url(../images/proxy_standard.png);
    }
    &.type-premium {
        background-image: url(../images/proxy_premium.png);
    }
}

.sc-app {
    padding: 200px 0 100px;
    text-align: center;
    img {
        width: 129px; height: 129px;
        padding-bottom: 30px;
        box-sizing: content-box;
        opacity: 1;
    }
    h2 {
        font-size: 30px;
        font-weight: 800;
        line-height: 46px;
        word-break: keep-all;
        overflow-wrap: break-word;
    }
    p {
        margin-top: 40px;
        font-size: 22px;
        font-weight: 800;
        line-height: 34px;
        word-break: keep-all;
        overflow-wrap: break-word;
        white-space: pre-line;
    }
    a {
        display: inline-block;
        margin-right: 10px;
        background-color: transparent;
        width: 220px; height: 86px;
        padding: 26px 0px;
        margin-top: 40px;
        border: 1px solid #000;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        transition: .1s ease-in;
        &::before {
            content: '';
            display: inline-block;
            width: 32px; height: 32px;
            margin-right: 8px;
            margin-bottom: 6px;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        &.googlePlay::before {
            background-image: url(../images/ic_googleplay.svg);
        }
        &.appStore::before {
            background-image: url(../images/ic_appstore.svg);
        }
        &:hover {
            background-color: rgb(255, 205, 0);
            border: 1px solid rgb(255, 205, 0);
        }
    }
}

.sc-kakaoTguide {
    position: relative;
    width: 100%; height: 100%;
    padding: 100px 0;
    color: #fff;
    .bg-guide {
        width: 100%; height: 632px;
        background-image: url(../images/sc_guide.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .text-box {
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        padding-top: 220px;
        h2 {
            display: block;
            padding: 0 6px;
            font-size: 30px;
            font-weight: 800;
            line-height: 46px;
        }
        p {
            padding: 24px 6px 0 6px;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            word-break: keep-all;
            overflow-wrap: break-word;
            white-space: pre-line;
        }
        a {
            margin: 0 6px;
        }
    }
}

.sc-qa {
    padding: 100px 0;
    .common-inner {
        display: flex;
    }
    .title-box {
        position: relative;
        width: 50%;
        display: inline-block;
        padding-left: 0px;
        font-size: 30px;
        font-weight: 800;
        line-height: 46px;
        text-align: center;
        vertical-align: top;
    }
    .bg-qa {
        position: absolute;
        top: 0px; left: 125px;
        max-height: 100%;
        margin: 0px 5%;
        width: 393px; height: 175px;
        background-image: url(../images/sc_qa.svg), none;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .text-box {
        flex: 1;
        p {
            font-size: 22px;
            font-weight: 800;
            line-height: 34px;
            word-break: keep-all;
            overflow-wrap: break-word;
            white-space: pre-line;
        }
    }
    .btn-more {
        color: #000;
        &::after {
            background: url(../images/ic_more_gray.svg);
        }
        &:hover {
            color: rgb(255, 205, 0);
            &::after {
                margin-left: 24px;
                background-image: url(../images/ic_more_active.svg), none;
            }
        }
    }
}
.sc-partner {
    position: relative;
    width: 100%; height: 632px;
    padding-top: 100px;
    color: #fff;
    overflow-x: hidden;
    video {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; height: 100%;
        min-width: 303.797vh; min-height: 32.9167vw;
        z-index: -1;
    }
    .text-box {
        padding: 0 6px;
    }
    h2 {
        font-size: 30px;
        font-weight: 800;
        line-height: 46px;
        white-space: pre-line;
    }
    p {
        padding-top: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        white-space: pre-line;
    }
    h3 {
        padding: 50px 0 30px;
        font-size: 22px;
        font-weight: 800;
        line-height: 34px;
        color: rgb(255, 205, 0);
    }
    .partner-list {
        display: flex;
        gap: 10px;
        a {
            display: inline-block;
            margin: 0px;
            background-color: transparent;
            width: auto;
            height: 86px;
            padding: 26px 36px;
            font-size: 22px;
            font-weight: 800;
            line-height: 34px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.6);
            &:hover {
                border: 1px solid rgb(255, 205, 0);
                color: rgb(255, 205, 0);
            }
        }
    }
}